#tab-properties {
    display: grid;
    grid-template-areas:
        'world addtrack'
        'world tracklist'
    ;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1.0fr 1.0fr;
    gap: 8px;
}

#properties-world { grid-area: world; }
#properties-addtrack { grid-area: addtrack; }
#properties-tracklist { grid-area: tracklist; }

#properties-tracklist > * {
    padding: 8px;
    box-sizing: border-box;
    
    border: 1px solid var(--border-mid);
    border-radius: 4px;

    display: grid;
    grid-template-areas:
        'i s'
        't t'
    ;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

#tab-properties .properties-table > * > tr > td:is(:nth-child(1), :nth-child(2), :nth-child(5)) {
    width: 0px;
    min-width: min-content;
}

.properties-opts > div {
    opacity: 0;

    display: flex;
    justify-content: center;
    gap: 4px;
}

.properties-opts > div:hover {
    opacity: 1;
}

.properties-opts > div > * {
    opacity: 0.4;
    height: 1em;
}

.properties-opts > div > *:hover {
    opacity: 1;
    cursor: pointer;
}
