#tab-runs {
    display: grid;
    grid-template-areas:
        'run-opts border rtime-opts'
        'run-opts border rtime-list'
        'run-list border rtime-list'
        'run-foot border rtime-list'
    ;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1.3fr auto 0.7fr;
    gap: 8px;
}

#run-list.no-type-run > * > tr[data-type="run"],
#run-list.no-type-runInterval > * > tr[data-type="runInterval"],
#run-list.no-type-runTimeout > * > tr[data-type="runTimeout"],
#run-list.no-status-active > * > tr[data-status="active"],
#run-list.no-status-cleared > * > tr[data-status="cleared"],
#run-list.no-status-suspended > * > tr[data-status="suspended"],
#run-list.no-exec-unexecuted > * > tr[data-exec="unexecuted"],
#run-list.no-exec-executed > * > tr[data-exec="executed"] { display: none; }

#run-list > tbody > tr:nth-child(2n+2) > td > div {
    display: grid;
    grid-template-areas:
        'add clear'
        'cnt cnt'
        'act act'
    ;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.run-cnt-interval {
    grid-area: cnt;

    width: 100%;
    height: 250px;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

#run-opts {
    grid-area: run-opts;
    justify-self: start;
}
